<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- th:fragment define un fragment los cuales sirven para evitar la redundancia de codigo -->
	<!-- Sintaxis th:fragment="Nombre del fragment" -->
	<div th:fragment="header">
		<!-- this is header -->
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/mad/bienvenido}">Inicio</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
					<!--	<li class="active"><a th:href="@{/race/listar}">Raza</a></li>
						<li class="active"><a th:href="@{/pet/listar}">Mascota</a></li>
						<li class="active"><a th:href="@{/dueno/listar}">Dueño</a></li>
						<li class="active"><a th:href="@{/producto/listar}">Producto</a></li>
						<li class="active"><a th:href="@{/pedido/listar}">Pedido</a></li> -->
						<li class="active"><a th:href="@{/mad/listar}">MUEBLE</a></li>
							<li class="active"><a th:href="@{/transprimaria/listar}">TRANSFORMACION PRIMARIA</a></li>
								<li class="active"><a th:href="@{/transsecundaria/listar}">TRANSFORMACION SECUNDARIA</a></li>
						  <li class="active"><a th:href="@{/user/list}">Agregar usuario</a></li>
								<!--<li class="active"><a th:href="@{/codigoqr/listar}">CODIGO</a></li>-->
                          <li class="active"><a th:href="@{/j_spring_security_logout}">Cerrar Sesión</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

</body>
</html>
