<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>login</title>
<link rel="icon" type="image/png" sizes="32x32" href="/imagenes/favicon-32x32.png"/>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<link href="css/login.css" rel="stylesheet" type="text/css"></link>

</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-offset-5 col-md-3">
				<div class="form-login">
					<p class="alert alert-danger" th:if="${error}" th:text="${error}"></p>
					<p class="alert alert-success" th:if="${msg}" th:text="${msg}"></p>

					<h4>Bienvenido.</h4>
					<form th:action="@{j_spring_security_check}" method="post">
						<input type="text" id="username" name="usuario"
							class="form-control input-sm chat-input" placeholder="username"></input>
						<br></br> <input type="password" id="password" name="clave"
							class="form-control input-sm chat-input" placeholder="password"></input>
						<br></br>
						<div class="wrapper">
							<span class="group-btn">
								<input type="submit" value="submit" class="btn btn-primary btn-md" />
								
							</span>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</body>
</html>